html{
    width:100vw;

    min-height:100vh;
    color:white;
}
body{
    /*background: linear-gradient(70deg, #3d2727 50%, #363a4d 50%);*/
    background-color: rgb(70, 65, 65);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
h1{
    text-align: center;
}
.dc{
    
    margin:0 auto;
    width:60%;
    height:auto;
    min-height: 50vh;
    background-color:rgb(34, 32, 63);
    border-radius:5px;
    box-shadow:  0 4px 50px 0 rgba(70, 20, 80, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
input{
    width:60%;
    height:50px;
    border:none;
    border-radius:5px;
    margin:0 auto;
    display:block;
    margin-bottom: 10%;
}
.k{
    width:40%;
    margin-bottom: 5%;
}
.k:hover{
    background-color: rgb(41, 35, 35);
    color: white;
}
h1{
    margin-top: 25px;
    margin-bottom:35px;
}
p{
    display:inline-block;
}
a{
    color:white
}
a:hover{
    color:rgb(151, 151, 151);
}
.cen{
  width:240px;

    margin:0 auto;
}
@media only screen and (max-width:700px){
  .dc{
  
      width:90%;
      
  }
  input{
    width:70%;
  }
  p{
    display:block;
}
}